<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../../src/css/output.css" rel="stylesheet">
    <link href="../../src/css/navSideBar.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const user = JSON.parse(localStorage.getItem('user'))

        if(!user) {
            window.location.href = '/'
        }
    </script>
</head>
<body >
    <div>
        
        <nav class="fixed pb-8 h-full" id="nav">
        </nav>
        <nav id="navAccount">
        </nav>       
    </div>


<main class="relative main_menu" >
        <div class="flex justify-end" id="notification">
        </div>
        
<div class="max-w-full mx-auto">
    
    <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
        <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="" role="presentation">
                <button class="inline-block text-black hover:text-black hover:bg-cyan-200 hover:border-b hover:border-black  focus:text-black focus:border-black focus:border-b rounded-t-lg py-4 px-4 text-lg font-medium text-center border-transparent border-b-2 active" id="users-tab" data-tabs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="true">Users</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block text-black hover:text-black hover:bg-cyan-200 hover:border-b hover:border-black  focus:text-black focus:border-black focus:border-b rounded-t-lg py-4 px-4 text-lg font-medium text-center border-transparent border-b-2 " id="client-tab" data-tabs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="false">Client</button>
            </li>
     <!--      <li class="mr-2" role="presentation">
                <button class="inline-block text-black hover:text-black hover:bg-cyan-200 hover:border-b hover:border-black  focus:text-black focus:border-black focus:border-b rounded-t-lg py-4 px-4 text-lg font-medium text-center border-transparent border-b-2" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
            </li>
            <li role="presentation">
                <button class="inline-block text-black hover:text-black hover:bg-cyan-200 hover:border-b hover:border-black  focus:text-black focus:border-black focus:border-b rounded-t-lg py-4 px-4 text-lg font-medium text-center border-transparent border-b-2" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
            </li>--> 
        </ul>
    </div>
    <div id="myTabContent">
        
        <div class=" p-4 rounded-lg  max-sm:p-0 " id="users" role="tabpanel" aria-labelledby="profile-tab">
            <p class="text-gray-500 dark:text-gray-400 text-sm rounded-lg p-4 dark:bg-gray-800"><strong class="font-medium text-gray-800 dark:text-white">User Configuration</strong>. In this section you can add, delete and update users</p>
           <div class=" md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:pr-10 md:pl-10 md:pt-10 flex flex-col items-center pt-10">
                    <div>
                        <h2 class="md:text-black  md:font-semibold text-2xl md:block hidden">Employee List</h2>
                    </div>
                    <div class="flex items-center">
                        <div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                            <input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_employee" placeholder="Search">
                      </div>
                      
                        </div>
                    </div>
            <div class="rounded-lg border border-gray-200 shadow-md m-5">
                
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                <thead class="bg-gray-50">
                    <tr >
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                    <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">State</th>
                    <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Role</th>
                    <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-lg:hidden">Email</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
                        <button id="add" class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
                            Add
                        </button>
                    </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100" id="usersTable">
                
                </tbody>
                </table>
            
            </div>
        </div>

            

        <div class=" p-4 rounded-lg hidden max-sm:p-0" id="client" role="tabpanel" aria-labelledby="client-tab">
            <p class="text-gray-500 dark:text-gray-400 text-sm rounded-lg p-4 dark:bg-gray-800 "><strong class="font-medium text-gray-800 dark:text-white">Client Form options</strong>. In this section you can add, edit or delete options for the diferents fields in the client form.</p>

        <!-- Marketing Information-->

        <label>
                <input class="peer/showLabel absolute scale-0 " type="checkbox" />
                <span class=" max-h-16 max-w overflow-hidden rounded bg-white px-8 pt-0 mt-7 pb-8 mb-4 flex flex-col my-2 shadow-md transition-all duration-300 peer-checked/showLabel:max-h-full max-sm:pb-20 max-sm:px-3">
                  <h1 class="text-left text-xl font-bold mb-4 pt-4 cursor-pointer">Marketing Information</h1>
                  <div class="">
                    <div>
            <div class=" md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:ml-5  md:pt-10  pt-10">
            
                <div class="">
                    <div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                        <input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_marketing" placeholder="Search" style="width: -webkit-fill-available;">
                  </div>
                  
                    </div>
            </div>

            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5 mt-5 m-0 ">
                
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                <thead class="bg-gray-50">
                    <tr >
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                    <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Date</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
                        <button id="add-marketing" class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
                            Add
                        </button>
                    </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100" id="marketingTable">
                
                </tbody>
                </table>
            
            </div>

        </div>
                </div>
                </span>
        </label>

        <!-- Gender Information-->

        <label>
                <input class="peer/showLabel absolute scale-0 " type="checkbox" />
                <span class=" max-h-16 max-w overflow-hidden rounded bg-white px-8 pt-0 mt-7 pb-8 mb-4 flex flex-col my-2  shadow-md transition-all duration-300 peer-checked/showLabel:max-h-full">
                  <h1 class="text-left text-xl font-bold mb-4 pt-4 cursor-pointer">Gender</h1>
                  <div class="">
                    <div>
            <div class="md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:ml-5  md:pt-10  pt-10">       
                <div class="">
                    <div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                        <input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_gender" placeholder="Search" style="width: -webkit-fill-available;">
                  </div>
                  
                    </div>
            </div>

            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5 mt-5 m-0">
                
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                <thead class="bg-gray-50">
                    <tr >
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                    <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Date</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
                        <button id="add-gender" class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
                            Add
                        </button>
                    </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100" id="genderTable">
                
                </tbody>
                </table>
            
            </div>

        </div>
                </div>
                </span>
        </label>
        
        <!-- Language Information-->
    
        <label>
            <input class="peer/showLabel absolute scale-0 " type="checkbox" />
            <span class=" max-h-16 max-w overflow-hidden rounded bg-white px-8 pt-0 mt-7 pb-8 mb-4 flex flex-col my-2  shadow-md transition-all duration-300 peer-checked/showLabel:max-h-full">
              <h1 class="text-left text-xl font-bold mb-4 pt-4 cursor-pointer">Language</h1>
              <div class="">
                <div>
        <div class=" md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:ml-5  md:pt-10  pt-10">       
            <div class="">
                <div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                    <input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_language" placeholder="Search" style="width: -webkit-fill-available;">
              </div>
              
                </div>
        </div>

        <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5 mt-5 m-0">
            
            <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
                <tr >
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Date</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
                    <button id="add-language" class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
                        Add
                    </button>
                </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100" id="languageTable">
            
            </tbody>
            </table>
        
        </div>

    </div>
            </div>
            </span>
        </label>

        <!-- Type of Case -->

        <label>
            <input class="peer/showLabel absolute scale-0 " type="checkbox" />
            <span class=" max-h-16 max-w overflow-hidden rounded bg-white px-8 pt-0 mt-7 pb-8 mb-4 flex flex-col my-2  shadow-md transition-all duration-300 peer-checked/showLabel:max-h-full">
              <h1 class="text-left text-xl font-bold mb-4 pt-4 cursor-pointer">Type of Case</h1>
              <div class="">
                <div>
        <div class="md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:ml-5  md:pt-10  pt-10">       
            <div class="">
                <div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                    <input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_type_of_case" placeholder="Search" style="width: -webkit-fill-available;">
              </div>
              
                </div>
        </div>

        <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5 mt-5 m-0">
            
            <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
                <tr >
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Date</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
                    <button id="add-type-of-case" class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
                        Add
                    </button>
                </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100" id="typeOfCaseTable">
            
            </tbody>
            </table>
        
        </div>

    </div>
            </div>
            </span>
        </label>

        <!-- Status of Case --> 

        <label>
            <input class="peer/showLabel absolute scale-0 " type="checkbox" />
            <span class=" max-h-16 max-w overflow-hidden rounded bg-white px-8 pt-0 mt-7 pb-8 mb-4 flex flex-col my-2  shadow-md transition-all duration-300 peer-checked/showLabel:max-h-full">
              <h1 class="text-left text-xl font-bold mb-4 pt-4 cursor-pointer">Status of Case</h1>
              <div class="">
                <div>
        <div class="md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:ml-5  md:pt-10  pt-10">       
            <div class="">
                <div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                    <input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_status" placeholder="Search" style="width: -webkit-fill-available;">
              </div>
              
                </div>
        </div>

        <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5 mt-5 m-0">
            
            <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
                <tr >
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                <th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Date</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
                    <button id="add-status" class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
                        Add
                    </button>
                </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100" id="statusTable">
            
            </tbody>
            </table>
        
        </div>

    </div>
            </div>
            </span>
        </label>
    

        </div>
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
    </div>

    
      <!-- modal Users -->
      <div id="modal_overlay" class="hidden inset-0  h-screen w-full flex justify-center items-center fixed pt-10 md:pt-0 max-sm:pb-2 max-sm:absolute" style="z-index: 100000">

                <!-- modal -->
                <div id="modal" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2  md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300 max-sm:mt-64">
                
                    <!-- button close -->
                    <button 
                    id="closeUp"
                    class="closeUp absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
                    X
                    </button>
                
                    <!-- header -->
                    <div class="px-4 py-3 border-b border-gray-200">
                    <h2 class="text-2xl font-bold text-black text-center" id="editUserTitle">Add New User</h2>
                    </div>
                
                    <!-- body -->
                    <div id="notiForm" ></div>
                    <div class="w-full p-3">
                    <form id="form" class="w-full">
                            <div class=" px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
                                <div>
                                    <h1 class="text-left text-2xl font-bold mb-4">Employee Information</h1>
                                </div>
                                <div class="-mx-3 md:flex mb-6">
                                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-first-name">
                                    First Name
                                    </label>
                                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="user-first-name" type="text" placeholder="Name">
                                    <p class="text-red text-xs italic">Please fill out this field.</p>
                                </div>
                                <div class="md:w-1/2 px-3">
                                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-last-name">
                                    Last Name
                                    </label>
                                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="user-last-name" type="text" placeholder="Last Name">
                                </div>
                                </div>

                                <div class="-mx-3 md:flex mb-6">
                                    <div class="md:w-1/3 px-3">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-phone">
                                        Phone
                                        </label>
                                        <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="user-phone" type="phone" placeholder="Phone">
                                    </div>
                                    <div class="md:w-1/3 px-3">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="status">
                                        Status*
                                        </label>
                                        <div class="relative">
                                            <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" id="status">
                                                <option value="active" id="active">Active</option>
                                                <option value="inactive" id="inactive">Inactive</option>
                                            </select>
                                            </div>
                                    </div>
                                    <div class="md:w-1/3 px-3">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-role">
                                        Role*
                                        </label>
                                        <div class="relative">
                                            <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" id="user-role">
                                                <option value="Admin" id="1">Admin</option>
                                                <option value="Employee" id="2">Employee</option>
                                                <option value="Lawyer" id="3">Lawyer</option>
                                            </select>
                                            </div>
                                    </div>
                                </div>
                                <div class="-mx-3 md:flex mb-6">
                                <div class="md:w-1/2 px-3">
                                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-direction">
                                    Direction
                                    </label>
                                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="user-direction" type="text" placeholder="Location">
                                    <p class="text-grey-dark text-xs italic">Write Employee direction</p>
                                </div>
                                <div class="md:w-1/2 px-3">
                                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-email">
                                    Email*
                                    </label>
                                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="user-email" type="email" placeholder="Email">
                                    <p id="emailCreated" class="text-grey-dark text-xs italic">Write Employee Email</p>
                                </div>
                                </div>
                                <div class="-mx-3 md:flex mb-2">
                                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="user-password">
                                            Password
                                        </label>
                                        <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="user-password" type="password" placeholder="Password">
                                    </div>
                                    <div class="md:w-1/2 px-3">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="repeat-password">
                                            Repeat Password
                                        </label>
                                        <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="repeat-password" type="password" placeholder="Repeat Password">
                                    </div>
                                    

                                
                                </div>
                            </div>
                            
                    </form>
                    </div>
                
                    <!-- footer -->
                    <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex md:justify-end items-center gap-3 justify-center">
                    <button class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded text-white focus:outline-none cursor-not-allowed" id="save-user">Save</button>
                    <button 
                        id="closeDown"
                        class="closeDown bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
                    >Close</button>
                    </div>
                </div>
                
      </div>
      

      <!-- Modal add Marketing Source -->
      <div id="modal_overlay_marketing" class="hidden inset-0  h-screen w-full flex justify-center items-center fixed pt-10 md:pt-0 max-sm:absolute" style="z-index: 100000;">

        <!-- modal -->
        <div id="modal_marketing" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2  md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300">
        
            <!-- button close -->
            <button 
            id="closeUp_marketing"
            class=" absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
            X
            </button>
        
            <!-- header -->
            <div class="px-4 py-3 border-b border-gray-200">
            <h2 class="text-2xl font-bold text-black text-center" id="editMarketingSource">Add New Marketing Source</h2>
            </div>
        
            <!-- body -->
            <div id="notiFormMarketing" ></div>
            <div class="w-full p-3">
            <form id="form_marketing" class="w-full">
                    <div class=" px-8 pt-6 pb-8 mb-4 flex flex-col ">
                        <div>
                            <h1 class="text-left text-2xl font-bold mb-4">Marketing Source</h1>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="marketing-source-name">
                            Marketing Source Name
                            </label>
                            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="marketing-source-name" type="text" placeholder="Name">
                            <p class="text-red text-xs italic">Please fill out this field.</p>
                        </div>
                        </div>
                        
                        
                        </div>
                    
            </form>
            </div>
        
            <!-- footer -->
            <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex md:justify-end items-center gap-3 justify-center">
            <button class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded text-white focus:outline-none " id="save-marketing">Save</button>
            <button 
                id="closeDown_marketing"
                class= "closeDown bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
            >Close</button>
            </div>
        </div>
        
      </div>

      <!-- Modal add Gender -->
      <div id="modal_overlay_gender" class="hidden inset-0   h-screen w-full flex justify-center items-center fixed pt-10 md:pt-0 max-sm:absolute" style="z-index: 100000;">

        <!-- modal -->
        <div id="modal_gender" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2  md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300">
        
            <!-- button close -->
            <button 
            id="closeUp_gender"
            class=" absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
            X
            </button>
        
            <!-- header -->
            <div class="px-4 py-3 border-b border-gray-200">
            <h2 class="text-2xl font-bold text-black text-center" id="editGenderTitle">Add New Gender</h2>
            </div>
        
            <!-- body -->
            <div id="notiFormGender" ></div>
            <div class="w-full p-3">
            <form id="form_gender" class="w-full">
                    <div class=" px-8 pt-6 pb-8 mb-4 flex flex-col ">
                        <div>
                            <h1 class="text-left text-2xl font-bold mb-4">Gender</h1>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="gender-name">
                            Gender Name
                            </label>
                            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="gender-name" type="text" placeholder="Name">
                            <p class="text-red text-xs italic">Please fill out this field.</p>
                        </div>
                        </div>
                        
                        
                        </div>
                    
            </form>
            </div>
        
            <!-- footer -->
            <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex md:justify-end items-center gap-3 justify-center">
            <button class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded text-white focus:outline-none " id="save-gender">Save</button>
            <button 
                id="closeDown_gender"
                class= "closeDown bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
            >Close</button>
            </div>
        </div>
        
      </div>

      <!-- Modal add Language -->
      <div id="modal_overlay_language" class="hidden inset-0  z-1000000000 h-screen w-full flex justify-center items-center fixed pt-10 md:pt-0 max-sm:absolute" style="z-index: 100000;">

        <!-- modal -->
        <div id="modal_language" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2  md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300">
        
            <!-- button close -->
            <button 
            id="closeUp_language"
            class=" absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
            X
            </button>
        
            <!-- header -->
            <div class="px-4 py-3 border-b border-gray-200">
            <h2 class="text-2xl font-bold text-black text-center" id="editLanguageTitle">Add New Language</h2>
            </div>
        
            <!-- body -->
            <div id="notiFormLanguage" ></div>
            <div class="w-full p-3">
            <form id="form_language" class="w-full">
                    <div class=" px-8 pt-6 pb-8 mb-4 flex flex-col ">
                        <div>
                            <h1 class="text-left text-2xl font-bold mb-4">Language</h1>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="language-name">
                             Language Name
                            </label>
                            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="language-name" type="text" placeholder="Name">
                            <p class="text-red text-xs italic">Please fill out this field.</p>
                        </div>
                        </div>
                        
                        
                        </div>
                    
            </form>
            </div>
        
            <!-- footer -->
            <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex md:justify-end items-center gap-3 justify-center">
            <button class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded text-white focus:outline-none " id="save-language">Save</button>
            <button 
                id="closeDown_language"
                class= "closeDown bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
            >Close</button>
            </div>
        </div>
        
      </div>

      <!-- Modal Type of Case -->
      <div id="modal_overlay_type_of_case" class="hidden inset-0 z-1000000000  h-screen w-full flex justify-center items-center fixed pt-10 md:pt-0 max-sm:absolute" style="z-index: 100000;">

        <!-- modal -->
        <div id="modal_type_of_case" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2  md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300">
        
            <!-- button close -->
            <button 
            id="closeUp_type_of_case"
            class=" absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
            X
            </button>
        
            <!-- header -->
            <div class="px-4 py-3 border-b border-gray-200">
            <h2 class="text-2xl font-bold text-black text-center" id="editTypeOfCaseTitle">Add Type of Case</h2>
            </div>
        
            <!-- body -->
            <div id="notiFormTypeOfCase" ></div>
            <div class="w-full p-3">
            <form id="form_type_of_case" class="w-full">
                    <div class=" px-8 pt-6 pb-8 mb-4 flex flex-col ">
                        <div>
                            <h1 class="text-left text-2xl font-bold mb-4">Type of Case</h1>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="type_of_case-name">
                             Type of Case Name
                            </label>
                            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="type_of_case-name" type="text" placeholder="Name">
                            <p class="text-red text-xs italic">Please fill out this field.</p>
                        </div>
                        </div>
                        
                        
                        </div>
                    
            </form>
            </div>
        
            <!-- footer -->
            <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex md:justify-end items-center gap-3 justify-center">
            <button class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded text-white focus:outline-none " id="save-type-of-case">Save</button>
            <button 
                id="closeDown_type_of_case"
                class= "closeDown bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
            >Close</button>
            </div>
        </div>
        
      </div>

      <!-- Modal Status Case -->
      <div id="modal_overlay_status" class="hidden inset-0 z-1000000000 h-screen w-full flex justify-center items-center fixed pt-10 md:pt-0 max-sm:absolute:" style="z-index: 100000;">

        <!-- modal -->
        <div id="modal_status" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2  md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300">
        
            <!-- button close -->
            <button 
            id="closeUp_status"
            class=" absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
            X
            </button>
        
            <!-- header -->
            <div class="px-4 py-3 border-b border-gray-200">
            <h2 class="text-2xl font-bold text-black text-center" id="editStatusTitle">Add Status of Case</h2>
            </div>
        
            <!-- body -->
            <div id="notiFormStatusOfCase" ></div>
            <div class="w-full p-3">
            <form id="form_status" class="w-full">
                    <div class=" px-8 pt-6 pb-8 mb-4 flex flex-col ">
                        <div>
                            <h1 class="text-left text-2xl font-bold mb-4">Status Name</h1>
                        </div>
                        <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="status-name">
                             Status Name
                            </label>
                            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="status-name" type="text" placeholder="Name">
                            <p class="text-red text-xs italic">Please fill out this field.</p>
                        </div>
                        </div>
                        
                        
                        </div>
                    
            </form>
            </div>
        
            <!-- footer -->
            <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex md:justify-end items-center gap-3 justify-center">
            <button class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded text-white focus:outline-none " id="save-status">Save</button>
            <button 
                id="closeDown_status"
                class= "closeDown bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
            >Close</button>
            </div>
        </div>
        
      </div>

</div>

<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
</main>
<div id="deleteNotification">
      </div>

    <script src="../components/nav.js"></script>
    <script src="../../src/js/navSideBar.js"></script>
    <script src="../components/navAccount.js"></script>
    <script src="./settings.js" type="module"></script>
    <script src="../components/notification.js"></script>
    <script src="../components/deleteNotification.js"></script>
 
</body>
</html>

<style>
    
</style>