<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../../src/css/output.css" rel="stylesheet">
    <link href="../../src/css/navSideBar.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
        const user = JSON.parse(localStorage.getItem('user'))

        if(!user) {
            window.location.href = '/login'
        }
    </script>
</head>
<body class="collapsed">
    <div>
    
        <nav class="fixed pb-8 h-full" id="nav">
            </nav>
            <nav id="navAccount">

            </nav>
            
        </div>


<main class="relative main_collapse" >
	<div class="flex justify-end" id="notification">
	</div>
	
        <!-- component -->


		<div class=" md:flex md:flex-row md:items-center md:justify-between md:pb-6 md:m-5 md:pt-10 flex flex-col items-center pt-10 max-sm:m-0 max-sm:mt-5">
			<div>
				<h2 class="md:text-black  md:font-semibold text-2xl md:block hidden">Leads</h2>
			</div>
			<div class="flex items-center">
				<div class="flex bg-gray-50 items-center p-2 rounded-md border-solid border-black border-2">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black" viewBox="0 0 20 20"
						fill="currentColor">
						<path fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd" />
					</svg>
					<input class="bg-gray-50 outline-none ml-1 block text-black " type="text" name="" id="search_lead" placeholder="Search">
			  </div>
			  
				</div>
			</div>
	<div class="rounded-lg border border-gray-200 shadow-md md:m-5  m-0 mt-5">
		
		<table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
		<thead class="bg-gray-50">
			<tr >
			<th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
			<th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Status</th>
			<th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-md:hidden">Type of Case</th>
			<th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-lg:hidden">Email</th>
			<th scope="col" class="md:px-6 md:py-4 md:font-medium md:text-gray-900 max-lg:hidden">Phone</th>
			<th scope="col" class="px-6 py-4 font-medium text-gray-900 flex justify-end">  
				<button id="addLead"  class="bg-cyan-900 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">
					Add
				</button>
			</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-gray-100 border-t border-gray-100" id="leadTable">
		
		</tbody>
		</table>
	
	</div>



</main>
<div id="deleteNotification">
</div>


    <script src="../components/nav.js"></script>
    <script src="../../src/js/navSideBar.js"></script>
    <script src="../components/navAccount.js"></script>
	<script src="./leads.js" type="module"></script>
	<script src="../components/notification.js"></script>
	<script src="../components/deleteNotification.js"></script>
 
</body>
</html>

<style>
    
</style>